* {
	margin: 0;
	padding: 0;
}

.mainDiv {
	display: flex;
	width: 100vw;
	height: 100vh;
}

.leftNav {
	width: 200px;
	background-color: #999494;
	height: 100%;
	padding: 20px;
	font-size: 24px;
	color: #333;
}

.leftNav > ul > li {
	list-style: none;
}

.rightMain {
	flex: 1;
	height: 100%;
	font-size: 24px;
	color: #000;
	background-color: yellowgreen;
}

.topNav {
	height: 50px;
	background-color: #cfdefd;
}

.topNav ul {
	display: flex;
	margin: 0px;
	padding: 0px;
}
.topNav li {
	padding: 10px;
	text-align: center;
	list-style: none;
}
.videoContent {
	padding: 20px;
}
